// this is so great.

.red {
  color: red;
  font-size: 115%;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Walter Turncoat', cursive;
}

.orange {
  color: #ee9d08;
  font-size: 125%;
  text-decoration: underline;
}

.yellow {
  color: yellow;
  background-color: #0754b6;
  height: 8%; 
  margin: auto;
  padding: 2px;
  transform: rotate(-8deg); 
  width: 10%;
  font-family: 'Walter Turncoat';
}

.green {
  color: green;
  font-size: 105%;
  text-decoration: wavy underline;
  text-shadow: #CCC 1px 0 10px;
}

.blue {
  font-size: 110%;
  margin-top:-15px;
  height:25px;
  width:150px;
  color: #0754b6;
  font-style: italic;
  -webkit-animation:bounce .1s infinite;
}

@-webkit-keyframes blue {
  from  { margin-top:25px;
          margin-bottom: 50px; }
  to    { margin-top: 100px !important;
          margin-bottom: 25px;}
}

