// this is so great.
* {
  
}

.red {
  color: red;
  font-size: 115%;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Walter Turncoat', cursive;
}

.orange {
  color: orange;
  font-size: 125%;
  text-decoration: underline;
}

.yellow {
  color: yellow;
  background-color: black;
  height: 75px; 
  margin: 15px auto;
  padding: 2px;
  transform: rotate(-8deg); 
  width: 100px;
}

.green {
  color: green;
  font-size: 105%;
  text-decoration: wavy underline;
  font-family: 'McLaren', Arial;
}

.blue {
  color: blue;
  font-style: italic;
}
