// make li inline block

// classes for our words desc array





$font-stack: Helvetica, sans-serif;

.red {
	font-family: $font-stack;
	color: red;

}

.orange {
	color: orange;
}

.yellow {
	color: yellow;
}

.green {
	color: green;
}

.blue {
	color: blue;
}
