
@import 'classes';

h1 {
 color: orange;
 text-shadow: #CCC 1px 0 10px; 
 font-size: 4em;
}

button {
	background-color: orange;
	font-style: bold;
	border-radius: 15px;
}

li {
  display: inline-block;
  list-style: none;
  margin-right: 0.5em;
}

#chatter {
	margin: auto;
	padding: 2px;
	background-color: #bcd4d4;
}

#photo {
	float: left;
}

